.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 620px;
  height: 100%;
  margin: 0 auto;

  &__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
    color: $primary-color;
  }

  &__inner {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 7px 7px 20px 5px rgba(0, 0, 0, .2);
  }

  &__board {
    padding: 30px 30px 50px;
  }
}
