.todo-item {
  $parent: &;
  display: flex;
  padding: 25px 30px;

  & + & {
    border-top: 1px solid $light-color;
  }

  &--completed {
    background-color: rgba($primary-color, 0.2);

    #{$parent}__title {
      text-decoration: line-through;
    }
  }

  &__label {
    position: relative;
    flex: 1;
    margin-right: 15px;
  }

  &__title {
    display: block;
    min-height: 25px;
    margin-bottom: 5px;
    line-height: 1.3;
  }

  &__info {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.4;
    cursor: pointer;

    > span {
      display: block;
      margin: 2px 0;
      font-size: 0.85rem;
    }

    > input[type='text'] {
      width: 100%;
    }

    em {
      font-style: normal;
    }

    .todo-content-update {
      margin: -10px 0 5px;
    }
  }

  &__button {
    align-self: center;
    justify-self: center;
  }
}
